
@{
    ViewBag.Title = "AddRole";
    ViewBag.Title = "SelectUser";
}

<h2>Select The Role</h2>

@Html.DropDownList("roles","--Select Role---")
@*<br><br>
@Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.SelectUser,"--Select User---")*@